{% extends "base.html" %}
{% load lookup %}

{% block title %}
{{ _("Active Annotator - Translation Workspace") }}
{% endblock title %}

{% block branding %}
<a class="navbar-brand" href="{% url "translation:index" %}">{{ _("Active Annotator - Translation Workspace") }} </a>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Active Project List</h2>
        </div>
        <div class="panel-body">

          {% if projects %}
            <table class="table table-striped table-hover table-columns">
              <tr>
                {% for column in table_columns %}
                <th class="text-{{column.align}}">
                  {% if column.key %}
                    {% if sort_key == column.key and reverse == '0' %}
                      <a href="{% url "translation:index" column.key 1 %}">{{ column.name }}</a>
                    {% else %}
                      <a href="{% url "translation:index" column.key 0 %}">{{ column.name }}</a>
                    {% endif %}
                  {% else %}
                    {{ column.name }}
                  {% endif %}
                </th>
                {% endfor %}
              </tr>
              {% for project in projects %}
                <tr>
                  {% for column in table_columns %}
                  <td class="text-{{column.align}}">
                    {% if column.type == "text" %}
                    {{ project|lookup:column.key }}
                    {% elif column.type == "toggle" %}
                      {% if project|lookup:column.key %}
                        <a href={% url "manage:toggle" column.key project.id %}><span class="glyphicon glyphicon-check"></span></a>
                      {% else %}
                        <a href={% url "manage:toggle" column.key project.id %}><span class="glyphicon glyphicon-unchecked"></span></a>
                      {% endif %}
                    {% elif column.type == "editor" %}
                    {{ image.editor_name }}
                    {% elif column.type == "caption" %}
                    {{ image.caption_text }}
                    {% elif column.type == "delete" %}
                      <a class="btn btn-default btn-danger confirm-delete-project" href="{% url "manage:delete" "project"  project.id forloop.parentloop.counter %}">Delete</a>
                      <a name="{{forloop.parentloop.counter}}"></a>
                      {% if forloop.parentloop.last %}
                        <a name="{{forloop.parentloop.counter|add:1}}"></a>
                      {% endif %}
                    {% elif column.type == "annotate" %}
                      <a class="btn btn-primary" href="{% url "translation:edit" project.id %}">{{ project.name }}</a>
                    {% elif column.type == "images" %}
                      {{ project.image_set.count }}
                    {% elif column.type == "captions" %}
                      {{ project.caption_set.count }}
                    {% elif column.type == "progress" %}
                      {% if project.get_caption_set.count == project.get_max_captions %}
                        {% if project.get_confirm_progress == 100.0 %}
                          Reviewing Completed
                        {% else %}
                          Reviewing ({{ project.get_confirm_progress }}%)
                        {% endif %}
                      {% else %}
                       {{ project.get_caption_set.count }} / {{ project.get_max_captions }} ({{ project.get_progress }}%)
                      {% endif %}
                    {% endif %}
                  </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <div class="alert alert-warning">No active projects are currently available</div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Your Workload</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <tr>
              <th class="fit">Field</th>
              <th>Value</th>
            </tr>
            <tr>
              <th class="fit">Total Translations: </th>
              <th>{{ translations.count }}</th>
            </tr>
            <tr>
              <th class="fit">Total Confirmed Translations: </th>
              <th>{{ confirmed.count }}</th>
            </tr>
          </table>
          <a class="btn btn-primary" href="{% url "translation:translations/editor" user.id %}">Show all my translations</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


